{% extends 'base.html' %}
{% load static %}

{% block content %}
    <div class="container mt-5">
       
        <div class="col-sm-9">
            <div class="card offset-3">
                <div class="card-header bg-dark text-white">
                <b>Signup</b> 
                </div>
                <div class="card-body">
                    <form action="" method="POST" enctype="multipart/form-data">
                        {% csrf_token %}
                        {% for fm in form %}
                            <p>{{fm.label_tag}}{{fm}} <span>{{fm.errors|striptags}}</span></p>
                        {% endfor %}  
                        <input class="btn btn-success float-end" type="submit" value="Signup">  
                    </form>
                </div>
            </div>
        </div>    
    </div>
{% endblock content %}